<div class="row">
  <div class="col-md-12 show_header">
    <h1><%= @blog.name %></h1>
  </div>
</div>
<div class="row">
  <% if @blog.pictures.any? %>
  <div class="col-md-3">
    <% @blog.pictures.each_with_index do |p, idx| %>
    <div class="show_picture">
      <%= link_to image_tag(picture_path(p.id, size: "small")), url_for({controller: 'pictures', :action => 'show', id: p.id}), local: true, data: {lightbox: "image_group", title: ""} %>
    </div>
    <% end %>
  </div>
  <div class="col-md-9">
  <% else %>
  <div class="col-md-12">
  <% end %>
    <% if @blog.description.present? %>
    <div class="show_description">
      <%= @blog.description.html_safe %>
    </div>
    <% end %>
    <div class="show_content">
      <%= @blog.content.html_safe %>
    </div>
  </div>
</div>
