// Place all the styles related to the Gardenings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#gardening_description {
  height: 200px;
}

#gardening_content {
  height: 400px;
}

.gardening_show_header, .gardening_show_description, .gardening_show_content, .gardening_show_related {
  a {
    color: red;
    
    &:visited {
      color:red;
    }
  }
  margin-bottom: 50px;
}

.gardening_show_description, .gardening_show_content, .gardening_show_related {
  h1 {
    font-size: 200%;
    text-align: left;
  }
}

.gardening_show_picture {
  border-width: 1px;
  border-style: inset;
  background-color: lightgray;
  margin-bottom: 10px;
  padding: 5px;
  width: 212px;
}

.gardening_delete_picture {
  float: right;
}

label[for=gardening_tags-selectized] {
  display: inline-block;
}

#gardening_add_tag {
  float: right;
  cursor: pointer;
}